<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto mt-4" style="border: 1px solid #c7cdd1; border-radius: 3px; padding: 20px;">
            <h1 class="text-center font-weight-bold">
                <i class="fas fa-sign-in-alt"></i>
                Create a room
            </h1>
            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-warning">{{ this.msg }}</div>
                {{/each}}
                <p><a href="/"> see available rooms (if any) </a></p>
            {{/if}}
            <form action="/join-new-room2" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username" class="text-capitalize" style="font-size: 16px;">username</label> <br />
                    <input type="text" id="username" class="form-control" name="username" placeholder="enter your username" />
                </div>
                <div class="form-group">
                    <label for="room" class="text-capitalize" style="font-size: 16px;">room</label> <br />
                    <input type="text" {{!id="username" }} id="room" class="form-control" name="room" placeholder="enter the name of the room" />
                </div>
                <div class="form-group">
                    <label for="quote" class="text-capitalize" style="font-size: 16px;">quote</label> <br />
                    <input type="text" id="quote" class="form-control" name="quote" placeholder="enter a quote(Optional)" />
                </div>
                <span class="text-capitalize" style="font-size: 16px;">profile image</span>
                <div class="custom-file mb-3 mt-2">
                    <input type="file" class="custom-file-input" name="image" {{!--required--}}>
                    <label class="custom-file-label">Choose profile image...</label>
                </div>
                <button type="submit" class="btn btn-block" style="background: #05728f; color: white; font-weight: bold;">join</button>
            </form>
        </div>
    </div>
</div>